/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
} 

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 8px 0 0 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Titles and paragraphs ***********/


/****** Header ***********/

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    align-self: center;
    padding-bottom: 35px;
}

nav {
    display: flex;
    gap: 70px;
    margin-top: -7px;

}

nav a {
    height: 35px;
    display: flex;
    align-items: end;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/***************** Formulaire ****************/

.formulaire p {
    margin-top: -15px;
}

.fa-location-dot {
    color: black;
}

.formulaire form {
    border : 2px solid var(--main-bg-color);
    border-radius: 10px 12px 12px 10px;
    display: flex;
    width: fit-content;
    height: 40px;
    margin: 30px 30px 5px 0;
}

.formulaire form label {
    background-color: var(--main-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
    width: 45px;
}

.formulaire form button {

    background-color: var(--main-color);
    color: white;
    border: solid 2px var(--main-color);
    border-radius: 0 10px 10px 0;
    width: 115px;
    font-size: 16px;
    font-weight: 600;
    transform: scale(1.1);
    cursor:pointer;
}

.formulaire form button:active {
    background-color:#1356bb;
    border: 2px solid #1356bb;
}

.formulaire form ::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 800;
}

.formulaire form input[type="text"] {
    width: 150px;
    padding-left: 20px;
    border: none;
}

.formulaire form input:focus {
    outline: none;
}

.formulaire form input[type="text"]:focus::placeholder {
    opacity: 0;
}

.formulaire button:last-child {
    box-shadow: var(--Box-shadow-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: scale(1.08);
    width: 60px;
    display: none;
  }

/******************* Filters ******************/

.filters,
.filters li,
.filters ul,
.fa-info,
.info-paragraph {
    display: flex;
    align-items: center;
}

.filters li {
    border: 2px solid var(--main-bg-color);
    padding: 7px;
    border-radius: 20px;
}

.filters ul {
    flex-wrap: wrap;
    gap : 15px;
    padding : 15px;
} 

.filters-pic {
    padding-right: 5px;
    padding: 5px;
}

.filters li:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.fa-info {
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    margin: 10px 10px 10px 0
}
.info-paragraph {
    justify-content: flex-start;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements-section {
    width: 65%;
}

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.hebergements .card-content {
    margin: 10px;
}

.hebergements img {
    border-radius: 20px 20px 0 0;
    width: 95%;
    height: 115px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
    padding: 6px 0 0 6.5px;

}

.hebergements-cards {
    background-color: white;
    width: 255px;
    height: 210px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 15px;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-basis: 30%;
}

.hebergements-cards .card-rating {
    padding-top: 5px;
}

.hebergements-cards .card-title {
    margin: 10px 0 10px 0;
}
/****** Populaires ***********/

.populaires-section {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

#activities-section {
    padding-top: 25px;
    margin-left: 0px;
}

#activities-section h2 {

    margin: 30px;
}

.activities {
    display: flex;
    gap: 30px;
    margin: 0 15px 0 25px;
}

.activities-cards {
    max-height: 463px;
    height: 459px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}

.activities-cards img {
    width: 100%;
    height: 385px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 20px 20px 0 0;
}

.activities-cards h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    padding: 23px 19px;
    margin: 0;
    gap: 10px;

}


/*********** Footer *************/

footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }


footer section {
    padding: 10px 10px 10px 30px;
    flex-grow: 1;
}

footer li {
    margin-top: 20px;
}

footer ul {
    padding-left: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/************************************************
 Medium devices (tablets, less/equal than 1024px)
*************************************************/
@media screen and  (max-width: 1024px) and (min-width: 769px) {

/********************** Filters ***********************/

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 25px 0 15px 0;
        gap : 5px;
    }

    .filters ul {
        padding: 0px;
        gap: 10px;
    }

    .filters-title { 
        margin: 0;
    }
/********************** Hebergements And Populaires ***********************/

    .hebergements-and-populaires {
        flex-direction: column;
    }

/********************** Hebergements ************************/

    #hebergements-section {
        width: 100%;
        margin-bottom: 30px;
    }

    .hebergements {
        width: 100%;
        gap: 25px;
        padding-bottom: 15px;
    }


/********************** Populaires **************************/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-section {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/********************** Activités ***************************/

    .activities-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .activities {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 272px;
        gap : 5px;
        margin: 0px;
    }

    .activities-cards {
        height: 281px;
        max-height: 285px;
        width: 180px;
        min-height: 150px;
    }

    .activities-cards img{
        height: 200px;
    }

    .activités-card h3 {
        width: 75%;
    }

/********************** Footer ******************************/

    footer {
        width: 100%;
        gap: 40px;
        margin-top: 75px;
    }
}


/**************************************
Small devices (phones, less than 768px) 
***************************************/

@media screen and (max-width: 768px) and (min-width: 320px) {

    body {
        padding: 0px;
    }

    .main-container {
        padding: 0px;
    }

/********************* Header *******************/

    header {
        height: fit-content;
        flex-direction: column;
    }

    .logo {
        margin : 30px;
        padding: 0;
    }

    nav {
        display: flex;
        justify-content: space-around;
        gap: 0;
    }

    nav a {
        align-items: start;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
        padding: 15px;
    }

    nav a:hover {
        border-top: none !important;
        border-bottom: 3px solid var(--main-color);
    }

/********************** Form *********************/

    section.formulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire h1 {
        margin-left: 30px;
        padding-right: 25px;
    }

    .formulaire p {
        margin-left: 30px;
        padding-bottom: 15px;
        padding-right: 25px;
    }

    .form {
        width: 100%;
    }

    .formulaire form {
        width: 100%;
        max-width: 415px;;
        margin: 0;
    }

    .formulaire form button {
        display: none;
    }

    .formulaire form input[type="text"] {
        flex-grow: 1;
        max-width: 415px;
    }

    .fa-magnifying-glass {
        color: #DEEBFF;
    }

    .formulaire button:last-child {
        display: block;
      }

/********************** Filters ***********************/

    .filters {
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .filters li {
        max-width: 180px;
        flex-basis: 50%;
        border-radius: 25px;
        padding: 10px;
    }

    .filters ul { 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters strong {
        padding-left: 25px;
    }

    .filters-title {
        margin-left: 7px;
    }

/********************** Hebergements And Populaires ***********************/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0;
    }

/********************** Populaires ***********************/

    .populaires-section {
        width: 100%;
        border-radius: 0 !important;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 400px;
        height: 170px;
    }

    .card img {
        height: 171px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-links{
        display: flex;
        width: 100%;
    }
/********************** Hebergements ***********************/

    #hebergements-section {
        background-color: white;
        width: 100%;
        padding: 30px;
    }

    .hebergements-links{
        display: flex;
        width: 100%;
    }
    .hebergements {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .hebergements-cards {
        width: 420px;
        height: 280px;
        padding-right: 15px;
    }
    
    .hebergements-cards img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: center;
        
    }

    .hebergements-cards .card-txt {
        margin-left: 10px;
        margin-bottom: 7px;
    }

    .hebergements-cards .card-rating {
        margin-left: 10px;
        margin-bottom: 50px;
    }

/********************** Activité ***********************/

     #activities-section h2 {
       margin: 0 0 30px 0;
     } 

    #activities-section {
        padding: 30px 40px 25px 40px;
    }
    .activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: 0;
    }

    .activities-links{
        display: flex;
        width: 100%;
    }
    .activities-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
    }

    .activities-cards h3 {
        padding: 26px 19px;
    }

    .activities-cards img {
        width: 100%;
        max-width: 691px;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }



/********************** Footer ***********************/

    footer {
        flex-direction: column;
        margin-top: 60px;
    }

    footer section {
        padding-left: 35px;
    }
}